### 파생변수

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [2]:
data = {'이름': ['홍길동','성춘향','이몽룡','김철수','김영희','김만수','오지랖',
               '만순이','문정억','백만원','천만원','수십업','현재미'],
        '몸무게': [95,85,75,70,65,55,120,100,71,65,75,100,77],
        '키': [170,170,170,170,170,175,171,165,164,177,163,192,182],
        '주민번호': ['81XXXX-1XXXXXX','81XXXX-1XXXXXX','79XXXX-2XXXXXX','71XXXX-1XXXXXX'
                 ,'65XXXX-2XXXXXX','81XXXX-1XXXXXX','63XXXX-1XXXXXX','81XXXX-3XXXXXX',
                 '81XXXX-1234562','55XXXX-1234562','71XXXX-2234562','92XXXX-1234562',
                 '85XXXX-2234562'],
        '흡연여부': ['흡연','미흡연','미흡연','흡연','흡연','미흡연','흡연','흡연','흡연',
                 '미흡연','미흡연','미흡연','미흡연']
        }
df = pd.DataFrame(data)
df

     이름  몸무게    키            주민번호 흡연여부
0   홍길동   95  170  81XXXX-1XXXXXX   흡연
1   성춘향   85  170  81XXXX-1XXXXXX  미흡연
2   이몽룡   75  170  79XXXX-2XXXXXX  미흡연
3   김철수   70  170  71XXXX-1XXXXXX   흡연
4   김영희   65  170  65XXXX-2XXXXXX   흡연
5   김만수   55  175  81XXXX-1XXXXXX  미흡연
6   오지랖  120  171  63XXXX-1XXXXXX   흡연
7   만순이  100  165  81XXXX-3XXXXXX   흡연
8   문정억   71  164  81XXXX-1234562   흡연
9   백만원   65  177  55XXXX-1234562  미흡연
10  천만원   75  163  71XXXX-2234562  미흡연
11  수십업  100  192  92XXXX-1234562  미흡연
12  현재미   77  182  85XXXX-2234562  미흡연

In [3]:
df_mod = df.copy()

In [4]:
# 이름 변수를 '이름_인코딩' 변수로 변환

#레이블 인코딩 생성
encoing = LabelEncoder()

# X_train 데이터를 이용하여 피팅하고 레이블 숫자로 변환
encoing.fit(df_mod['이름'])
df_mod['이름_인코딩'] = encoing.transform(df_mod['이름'])
df_mod

     이름  몸무게    키            주민번호 흡연여부  이름_인코딩
0   홍길동   95  170  81XXXX-1XXXXXX   흡연      12
1   성춘향   85  170  81XXXX-1XXXXXX  미흡연       6
2   이몽룡   75  170  79XXXX-2XXXXXX  미흡연       9
3   김철수   70  170  71XXXX-1XXXXXX   흡연       2
4   김영희   65  170  65XXXX-2XXXXXX   흡연       1
5   김만수   55  175  81XXXX-1XXXXXX  미흡연       0
6   오지랖  120  171  63XXXX-1XXXXXX   흡연       8
7   만순이  100  165  81XXXX-3XXXXXX   흡연       3
8   문정억   71  164  81XXXX-1234562   흡연       4
9   백만원   65  177  55XXXX-1234562  미흡연       5
10  천만원   75  163  71XXXX-2234562  미흡연      10
11  수십업  100  192  92XXXX-1234562  미흡연       7
12  현재미   77  182  85XXXX-2234562  미흡연      11

In [5]:
print(list(encoing.classes_))
print(list(encoing.inverse_transform([0,1,2,3])))

['김만수', '김영희', '김철수', '만순이', '문정억', '백만원', '성춘향', '수십업', '오지랖', '이몽룡', '천만원', '현재미', '홍길동']
['김만수', '김영희', '김철수', '만순이']

In [6]:
encoing2 = LabelEncoder()
encoing2.fit(df_mod['흡연여부'])
df_mod['흡연여부_인코딩'] =  encoing2.transform(df_mod['흡연여부'])
df_mod

     이름  몸무게    키            주민번호 흡연여부  이름_인코딩  흡연여부_인코딩
0   홍길동   95  170  81XXXX-1XXXXXX   흡연      12         1
1   성춘향   85  170  81XXXX-1XXXXXX  미흡연       6         0
2   이몽룡   75  170  79XXXX-2XXXXXX  미흡연       9         0
3   김철수   70  170  71XXXX-1XXXXXX   흡연       2         1
4   김영희   65  170  65XXXX-2XXXXXX   흡연       1         1
5   김만수   55  175  81XXXX-1XXXXXX  미흡연       0         0
6   오지랖  120  171  63XXXX-1XXXXXX   흡연       8         1
7   만순이  100  165  81XXXX-3XXXXXX   흡연       3         1
8   문정억   71  164  81XXXX-1234562   흡연       4         1
9   백만원   65  177  55XXXX-1234562  미흡연       5         0
10  천만원   75  163  71XXXX-2234562  미흡연      10         0
11  수십업  100  192  92XXXX-1234562  미흡연       7         0
12  현재미   77  182  85XXXX-2234562  미흡연      11         0

In [7]:
# 주민번호로 나이 변수 생성
CurYear = 2022

def stdInfo(rrn):
    # 앞 2자리 이용하여 나이 계산
    if int(rrn[:2]) < 21 and int(rrn[7]) in(3,4):
        biryear = 2000 + int(rrn[:2])
    else:
        biryear = 1900 + int(rrn[:2])
        return CurYear - biryear

In [8]:
df_mod['나이'] = df_mod['주민번호'].apply(stdInfo)

In [9]:
df_mod

     이름  몸무게    키            주민번호 흡연여부  이름_인코딩  흡연여부_인코딩  나이
0   홍길동   95  170  81XXXX-1XXXXXX   흡연      12         1  41
1   성춘향   85  170  81XXXX-1XXXXXX  미흡연       6         0  41
2   이몽룡   75  170  79XXXX-2XXXXXX  미흡연       9         0  43
3   김철수   70  170  71XXXX-1XXXXXX   흡연       2         1  51
4   김영희   65  170  65XXXX-2XXXXXX   흡연       1         1  57
5   김만수   55  175  81XXXX-1XXXXXX  미흡연       0         0  41
6   오지랖  120  171  63XXXX-1XXXXXX   흡연       8         1  59
7   만순이  100  165  81XXXX-3XXXXXX   흡연       3         1  41
8   문정억   71  164  81XXXX-1234562   흡연       4         1  41
9   백만원   65  177  55XXXX-1234562  미흡연       5         0  67
10  천만원   75  163  71XXXX-2234562  미흡연      10         0  51
11  수십업  100  192  92XXXX-1234562  미흡연       7         0  30
12  현재미   77  182  85XXXX-2234562  미흡연      11         0  37

In [10]:
# 성별 변수 생성
def sex(rrn):
    # 7자리 이용하여 나이계산
    if int(rrn[7]) == 1 or int(rrn[7]) == 3:
        gen = '남'
    else:
        gen = '여'
    return gen

In [11]:
df_mod['성별'] = df_mod['주민번호'].apply(sex)

In [12]:
df_mod

     이름  몸무게    키            주민번호 흡연여부  이름_인코딩  흡연여부_인코딩  나이 성별
0   홍길동   95  170  81XXXX-1XXXXXX   흡연      12         1  41  남
1   성춘향   85  170  81XXXX-1XXXXXX  미흡연       6         0  41  남
2   이몽룡   75  170  79XXXX-2XXXXXX  미흡연       9         0  43  여
3   김철수   70  170  71XXXX-1XXXXXX   흡연       2         1  51  남
4   김영희   65  170  65XXXX-2XXXXXX   흡연       1         1  57  여
5   김만수   55  175  81XXXX-1XXXXXX  미흡연       0         0  41  남
6   오지랖  120  171  63XXXX-1XXXXXX   흡연       8         1  59  남
7   만순이  100  165  81XXXX-3XXXXXX   흡연       3         1  41  남
8   문정억   71  164  81XXXX-1234562   흡연       4         1  41  남
9   백만원   65  177  55XXXX-1234562  미흡연       5         0  67  남
10  천만원   75  163  71XXXX-2234562  미흡연      10         0  51  여
11  수십업  100  192  92XXXX-1234562  미흡연       7         0  30  남
12  현재미   77  182  85XXXX-2234562  미흡연      11         0  37  여

In [13]:
# 성별 One-Hot encoding

one_encoding = OneHotEncoder(sparse=False)

df_mod_one = pd.DataFrame(one_encoding.fit_transform(df_mod[['성별']]), columns= ['성별_남','성별_여'])
df_mod_one

    성별_남  성별_여
0    1.0   0.0
1    1.0   0.0
2    0.0   1.0
3    1.0   0.0
4    0.0   1.0
5    1.0   0.0
6    1.0   0.0
7    1.0   0.0
8    1.0   0.0
9    1.0   0.0
10   0.0   1.0
11   1.0   0.0
12   0.0   1.0

In [14]:
df_mod = pd.concat([df_mod,df_mod_one],axis=1)
df_mod

     이름  몸무게    키            주민번호 흡연여부  이름_인코딩  흡연여부_인코딩  나이 성별  성별_남  성별_여
0   홍길동   95  170  81XXXX-1XXXXXX   흡연      12         1  41  남   1.0   0.0
1   성춘향   85  170  81XXXX-1XXXXXX  미흡연       6         0  41  남   1.0   0.0
2   이몽룡   75  170  79XXXX-2XXXXXX  미흡연       9         0  43  여   0.0   1.0
3   김철수   70  170  71XXXX-1XXXXXX   흡연       2         1  51  남   1.0   0.0
4   김영희   65  170  65XXXX-2XXXXXX   흡연       1         1  57  여   0.0   1.0
5   김만수   55  175  81XXXX-1XXXXXX  미흡연       0         0  41  남   1.0   0.0
6   오지랖  120  171  63XXXX-1XXXXXX   흡연       8         1  59  남   1.0   0.0
7   만순이  100  165  81XXXX-3XXXXXX   흡연       3         1  41  남   1.0   0.0
8   문정억   71  164  81XXXX-1234562   흡연       4         1  41  남   1.0   0.0
9   백만원   65  177  55XXXX-1234562  미흡연       5         0  67  남   1.0   0.0
10  천만원   75  163  71XXXX-2234562  미흡연      10         0  51  여   0.0   1.0
11  수십업  100  192  92XXXX-1234562  미흡연       7         0  30  남   1.0   0.0
12  현재미   77  182  85XXXX-2234562  미흡연      11         0  37  여   0.0   1.0

In [15]:
df_mod['나이_범주'] = pd.cut(df_mod.나이,bins=[0,10,20,30,40,50,60,70],
                         labels=[0,10,20,30,40,50,60])
df_mod

,이름,몸무게,키,주민번호,흡연여부,이름_인코딩,흡연여부_인코딩,나이,성별,성별_남,성별_여,나이_범주
0,홍길동,95,170,81XXXX-1XXXXXX,흡연,12,1,41,남,1.0,0.0,40
1,성춘향,85,170,81XXXX-1XXXXXX,미흡연,6,0,41,남,1.0,0.0,40
2,이몽룡,75,170,79XXXX-2XXXXXX,미흡연,9,0,43,여,0.0,1.0,40
3,김철수,70,170,71XXXX-1XXXXXX,흡연,2,1,51,남,1.0,0.0,50
4,김영희,65,170,65XXXX-2XXXXXX,흡연,1,1,57,여,0.0,1.0,50
5,김만수,55,175,81XXXX-1XXXXXX,미흡연,0,0,41,남,1.0,0.0,40
6,오지랖,120,171,63XXXX-1XXXXXX,흡연,8,1,59,남,1.0,0.0,50
7,만순이,100,165,81XXXX-3XXXXXX,흡연,3,1,41,남,1.0,0.0,40
8,문정억,71,164,81XXXX-1234562,흡연,4,1,41,남,1.0,0.0,40
9,백만원,65,177,55XXXX-1234562,미흡연,5,0,67,남,1.0,0.0,60
10,천만원,75,163,71XXXX-2234562,미흡연,10,0,51,여,0.0,1.0,50
11,수십업,100,192,92XXXX-1234562,미흡연,7,0,30,남,1.0,0.0,20
12,현재미,77,182,85XXXX-2234562,미흡연,11,0,37,여,0.0,1.0,30

In [16]:
# BMI 변수 생성
# eval() -> 문자열로 된 수식을 input으로 받아 그 결과를 return 하는 함수
df_mod.eval('BMI = 몸무게 / ((키/100) * (키/100))',inplace= True)

In [17]:
df_mod

,이름,몸무게,키,주민번호,흡연여부,이름_인코딩,흡연여부_인코딩,나이,성별,성별_남,성별_여,나이_범주,BMI
0,홍길동,95,170,81XXXX-1XXXXXX,흡연,12,1,41,남,1.0,0.0,40,32.871972
1,성춘향,85,170,81XXXX-1XXXXXX,미흡연,6,0,41,남,1.0,0.0,40,29.411765
2,이몽룡,75,170,79XXXX-2XXXXXX,미흡연,9,0,43,여,0.0,1.0,40,25.951557
3,김철수,70,170,71XXXX-1XXXXXX,흡연,2,1,51,남,1.0,0.0,50,24.221453
4,김영희,65,170,65XXXX-2XXXXXX,흡연,1,1,57,여,0.0,1.0,50,22.491349
5,김만수,55,175,81XXXX-1XXXXXX,미흡연,0,0,41,남,1.0,0.0,40,17.959184
6,오지랖,120,171,63XXXX-1XXXXXX,흡연,8,1,59,남,1.0,0.0,50,41.038268
7,만순이,100,165,81XXXX-3XXXXXX,흡연,3,1,41,남,1.0,0.0,40,36.730946
8,문정억,71,164,81XXXX-1234562,흡연,4,1,41,남,1.0,0.0,40,26.397977
9,백만원,65,177,55XXXX-1234562,미흡연,5,0,67,남,1.0,0.0,60,20.747550
10,천만원,75,163,71XXXX-2234562,미흡연,10,0,51,여,0.0,1.0,50,28.228386
11,수십업,100,192,92XXXX-1234562,미흡연,7,0,30,남,1.0,0.0,20,27.126736
12,현재미,77,182,85XXXX-2234562,미흡연,11,0,37,여,0.0,1.0,30,23.245985

In [18]:
df_mod['BMI분류'] = pd.cut(df_mod.BMI, bins=[0,18,23,25,30,90],
                         labels=['저체중','정상','과체중','비만','고도비만'])

In [19]:
df_mod['BMI분류코드'] = df_mod['BMI분류'].map({'저체중': 0,'정상':1,'과체중':2,
                                         '비만':3,'고도비만':4})

In [20]:
df_mod

,이름,몸무게,키,주민번호,흡연여부,이름_인코딩,흡연여부_인코딩,나이,성별,성별_남,성별_여,나이_범주,BMI,BMI분류,BMI분류코드
0,홍길동,95,170,81XXXX-1XXXXXX,흡연,12,1,41,남,1.0,0.0,40,32.871972,고도비만,4
1,성춘향,85,170,81XXXX-1XXXXXX,미흡연,6,0,41,남,1.0,0.0,40,29.411765,비만,3
2,이몽룡,75,170,79XXXX-2XXXXXX,미흡연,9,0,43,여,0.0,1.0,40,25.951557,비만,3
3,김철수,70,170,71XXXX-1XXXXXX,흡연,2,1,51,남,1.0,0.0,50,24.221453,과체중,2
4,김영희,65,170,65XXXX-2XXXXXX,흡연,1,1,57,여,0.0,1.0,50,22.491349,정상,1
5,김만수,55,175,81XXXX-1XXXXXX,미흡연,0,0,41,남,1.0,0.0,40,17.959184,저체중,0
6,오지랖,120,171,63XXXX-1XXXXXX,흡연,8,1,59,남,1.0,0.0,50,41.038268,고도비만,4
7,만순이,100,165,81XXXX-3XXXXXX,흡연,3,1,41,남,1.0,0.0,40,36.730946,고도비만,4
8,문정억,71,164,81XXXX-1234562,흡연,4,1,41,남,1.0,0.0,40,26.397977,비만,3
9,백만원,65,177,55XXXX-1234562,미흡연,5,0,67,남,1.0,0.0,60,20.747550,정상,1
10,천만원,75,163,71XXXX-2234562,미흡연,10,0,51,여,0.0,1.0,50,28.228386,비만,3
11,수십업,100,192,92XXXX-1234562,미흡연,7,0,30,남,1.0,0.0,20,27.126736,비만,3
12,현재미,77,182,85XXXX-2234562,미흡연,11,0,37,여,0.0,1.0,30,23.245985,과체중,2

In [21]:
data_pre = df_mod[['나이_범주','성별_남','성별_여','흡연여부_인코딩',
                   '키','몸무게','BMI분류코드']]

In [22]:
data_pre

   나이_범주  성별_남  성별_여  흡연여부_인코딩    키  몸무게 BMI분류코드
0     40   1.0   0.0         1  170   95       4
1     40   1.0   0.0         0  170   85       3
2     40   0.0   1.0         0  170   75       3
3     50   1.0   0.0         1  170   70       2
4     50   0.0   1.0         1  170   65       1
5     40   1.0   0.0         0  175   55       0
6     50   1.0   0.0         1  171  120       4
7     40   1.0   0.0         1  165  100       4
8     40   1.0   0.0         1  164   71       3
9     60   1.0   0.0         0  177   65       1
10    50   0.0   1.0         0  163   75       3
11    20   1.0   0.0         0  192  100       3
12    30   0.0   1.0         0  182   77       2